.navbar-toggler-icon {
    height: 2px;
    width: 18px;
}

.navbar-toggler-icon {
    position: relative;
  }
  
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    position: absolute;
}

.navbar-toggler-icon::before {
    display: block;
    content: '';
    height: 2px;
    width: 18px;
    background-color: #333;
    top: -6px;
}

.navbar-toggler-icon {
    height: 2px;
    width: 18px;
    background-color: #333;
}

.navbar-toggler-icon::after {
    display: block;
    content: '';
    height: 2px;
    width: 18px;
    background-color: #333;
    bottom: -6px;
}